/**
* helpers
*/
@import './helpers/index';

[class^="sec_"],
[class^="sec_"] * {
	@include box-sizing();
}

.fixed {
	z-index: -99;
	position: fixed !important;
}

.sec{
	&_visual {
		&_container{
			overflow: hidden;
			position: relative;
			background: #000;
		}

		&_bg {
			@include disable();
		}

		&_step {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			&_intro {
				@include flex(center);
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: rgba(0,0,0,0.5);

				.sec_visual_step_intro_fade {
					animation: sjw_fadein_bottom 1.1s ease-in-out 1 forwards;
				}

				p {
					@include font(300,36px,#fff,center);
					line-height: 1;
					transition: all 0.05s;

					strong {
						display: block;
						font-size: 128px;
					}
				}
			}

			&_end {
				@include flex(center);
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				transition: all 0.05s;
				
				p {
					max-width: 1360px;
					width: 100%;
					margin: 0 auto;
					padding: 0 20px;
					font-size: 36px;
					color: #fff;
					line-height: 1;

					strong {
						display: block;
						margin-top: 50px;
						font-weight: 900;
						font-size: 92px;
						line-height: 1.2;
					}

					span {
						color: #F69242;
					}
				}

				.balloon-container {
					position: absolute;
					top: 0;
					left: 0;

					.parallax-element {

						.balloon {
							position: absolute;
							top: 50%;
							left: 50%;
							margin: -767px 0 50px 0;
						}
					}
					
				}

			}
		}
	}

	&_needs {
		position: relative;
		z-index: 2;
		padding: 140px 0;
		background: #FFFBF8;

		.card {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 64px 0 -273px ;

			li {
				overflow: hidden;
				position: relative;
				border-radius: 12px;
				opacity: 0;

				p {
					display: flex;
					flex-direction: column;
					justify-content: flex-end;
					align-items: flex-start;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 3;
					width: 100%;
					height: 100%;
					padding: 40px;
					@include font(500,24px,#fff,left);
					line-height: 1.5;

					strong {
						display: block;
						padding-bottom: 12px;
						font-weight: 800;
						font-size: 32px;
						line-height: 1.25;
					}
				}

				img {
					position: relative;
					z-index: 1;
					transition: all 0.3s;
				}

				&::after {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 2;
					width: 100%;
					height: 100%;
					background: linear-gradient(360deg, #000000 -31.96%, rgba(0, 0, 0, 0) 54.24%);
				}

				&:hover {
					img {
						transform: scale(1.05);

					}
				}
			}
		}

		&.active .card li {
			animation: sjw_fadein_top 1.1s ease-in-out 1 forwards;

			&:nth-child(2) {
				animation: sjw_fadein_bottom 1.1s ease-in-out 1 forwards;
			}
		}
	}

	&_step {
		padding: 334px 0 100px;
		background: #fff;

		.card {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 64px;

			li {
				overflow: hidden;
				width: 315px;
				height: 298px;
				background: no-repeat 0 0;
				text-indent: -9999em;
				transition: all 0.3s;

				&:nth-child(1) {
					background-image: url('../../images/project/sec_step_card1.png');
				}

				&:nth-child(2) {
					background-image: url('../../images/project/sec_step_card2.png');
				}

				&:nth-child(3) {
					background-image: url('../../images/project/sec_step_card3.png');
				}

				&:nth-child(4) {
					background-image: url('../../images/project/sec_step_card4.png');
				}

				&.on,
				&:hover {
					&:nth-child(1) {
						background-image: url('../../images/project/sec_step_card1_on.png');
					}

					&:nth-child(2) {
						background-image: url('../../images/project/sec_step_card2_on.png');
					}

					&:nth-child(3) {
						background-image: url('../../images/project/sec_step_card3_on.png');
					}

					&:nth-child(4) {
						background-image: url('../../images/project/sec_step_card4_on.png');
					}
				}
			}
		}

		.box {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 180px;
			margin-top: 20px;
			padding: 0 120px;
			border-radius: 12px;
			background: #222;

			.text {
				display: flex;
				justify-content: flex-start;
				align-items: center;

				.calendar {
					width: 70px;
					margin-right: 40px;
				}

				p {
					@include font(400,32px,#fff);
					line-height: 1.43;
				}
			}

			.btn {
				display: flex;
				justify-content: center;
				align-items: center;
				overflow: hidden;
				position: relative;
				width: 300px;
				height: 80px;
				border: 3px solid #fff;
				border-radius: 100px;
				@include font(700,24px,#fff);
				transition: all 0.3s;

				img {
					margin-left: 20px;
				}

				&:hover {
					border-color: #F69242;
					background: #F69242;
				}
			}
		}
	}

	&_lec {
		overflow: hidden;
		padding: 100px 0 150px;
		background: #fff;

		.sec_tit_comm {
			.sl {
				display: inline-block;
				vertical-align: text-bottom;

				.swiper-container {
					overflow: hidden;
					height: 78px;

					.txt1 {
						color: #FABE37;
					}

					.txt2 {
						color: #F69242;
					}

					.txt3 {
						color: #FA5637;
					}
				}
			}
		}

		.cont {
			position: relative;
			margin-top: 62px;

			.swiper-container {
				width: calc( 100% - 250px );
				margin-left: 250px;

				.swiper-slide {
					width: 820px;
					margin-left: 20px;

					img {
						width: 100%;
					}

					a {
						display: block;
						position: relative;

						&::after {
							content: '';
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							background: rgba(0,0,0,0.5) url('../../images/project/ico_play.svg') no-repeat center center / 80px auto;
						}
					}

					.txt {
						margin-top: 29px;
						@include font(400,28px,#666,center);

						b { 
							display: block;
							font-size: 32px;
							color: #000;
						}
					}
				}
				
			}

			.prev,
			.next {
				@include flex(center);
				position: absolute;
				top: 190px;
				z-index: 3;
				width: 80px;
				height: 80px;
				border-radius: 80px;
				background: #fafafa;

				img {
					width: 40px;
				}
			}

			.prev {
				left: 0;
			}

			.next {
				right: 0;
			}
		}
	}

	&_map {
		width: 100%;
		overflow: hidden;
		position: relative;
		background: #FEF1E7;

		.sec_tit_comm {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 3;
			width: 100%;
			height: 100%;
			padding-bottom: 60px;

			p {
				margin-top: 32px;

				strong {
					display: inline;
				}
			}

			img {
				width: 773px;
			}
		}

		ul {
			li {
				position: absolute;
				left: 50%;
				opacity: 0;

				&:nth-child(1) {
					top: 102px;
					margin-left: -858px;
				}

				&:nth-child(2) {
					top: 430px;
					margin-left: -775px;
				}

				&:nth-child(3) {
					top: 90px;
					margin-left: 334px;
				}

				&:nth-child(4) {
					top: 382px;
					margin-left: 422px;
				}
			}
		}

		&.active {
			ul li {
				&:nth-child(1) {
					animation: sjw_fadein_top 0.8s cubic-bezier(0.175, 0.885, 0.320, 1.275) 1 forwards;
				}

				&:nth-child(2) {
					animation: sjw_fadein_bottom 0.8s cubic-bezier(0.175, 0.885, 0.320, 1.275) 1 forwards;
					animation-delay: 0.3s;
				}

				&:nth-child(3) {
					animation: sjw_fadein_top 0.8s cubic-bezier(0.175, 0.885, 0.320, 1.275) 1 forwards;
					animation-delay: 0.6s;
				}

				&:nth-child(4) {
					animation: sjw_fadein_bottom 0.8s cubic-bezier(0.175, 0.885, 0.320, 1.275) 1 forwards;
					animation-delay: 0.9s;
				}
			}
		}

		&:hover {
			cursor: none;
		}

		#airplane {
			position: absolute;
			width: 108px;
			height: 140px;
			margin: 70px 0 0 0;
			top: 576px;
			left: 50%;
			z-index: 5;
			background-image: url('../../images/project/airplane.png');
			background-size: contain;
			transform: translate(-485px,-79px) rotate(-64deg);
			transform-origin: center center;
			transition: transform 0.05s;
			@include disable();
		}
	}

	&_career {
		overflow: hidden;
		position: relative;
		padding: 140px 0 210px;
		background: #fff;

		.tit {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
			height: 100px;
			margin-top: 80px;
			padding-left: 20px;
			border-left: 10px solid #ffddc2;
			@include font(400,32px,666);
			line-height: 1;

			b {
				display: block;
				font-weight: 700;
				font-size: 48px;
				color: #F69242;
			}
		}

		.txt {
			margin-top: 50px;
			padding: 50px 145px;
			background: #fafafa;
			@include font(400,22px,#666);
			line-height: 1.4;

			b {
				display: block;
				margin-bottom: 10px;
				font-weight: 700;
				font-size: 32px;
				color: #222;
			}

			button {
				display: block;
				position: relative;
				width: 430px;
				margin-top: 38px;

				img {
					width: 100%;
				}

				&::after {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: rgba(0,0,0,0.5) url('../../images/project/ico_play.svg') no-repeat center center / 42px auto;
				}
			}
		}

		.tch {
			position: absolute;
			left: 50%;
			bottom: 0;
			opacity: 0;
			@include disable();
		}

		&.active {
			.tch {
				animation: sjw_fadein_right 1.1s ease-in-out 1 forwards;
			}
		}
	}

	&_review {
		position: relative;
		padding: 140px 0 200px;
		background: #F69242;

		.content-container {
			display: flex;
			justify-content: center;
			position: relative;
			z-index: 2;
			width: 1320px;
			margin: 67px auto 0 auto;
			padding-left: 100px;

			.left-content {
				width: 440px;
				margin-right: 68px;

				ul {
					position: sticky;
					top: calc( 50% - 235px );
					left: 0;
					width: 440px;
					height: 470px;

					li {
						position: absolute;
						left: 0;
						top: 0;
						opacity: 0;
						transition: all 0.3s;
						transform: scaleX(0);

						&.on {
							opacity: 1;
							transform: scaleX(1);
						}
					}
				}
			}

			.right-content {
				flex: 1;
				@include font(400,28px,#fff);
				line-height: 1.6;

				li {
					padding: 0 5px;

					+ li {
						margin: 100px 0;
					}

					&:nth-child(3) {
						margin-bottom: 150px;
					}

					span {
						display: inline-block;
						position: relative;

						i {
							position: relative;
							z-index: 2;
						}

						&::before {
							content: '';
							position: absolute;
							top: 50%;
							left: -5px;
							z-index: 1;
							width: 0;
							height: 90%;
							background: #000;
							color: #fff;
							transform: translateY(-50%);
							transition: all 0.6s;
						}
					}

					&.on {
						span::before {
							width: calc( 100% + 10px );
						}
					}

					em {
						display: block;
						margin-top: 22px;
						@include font(400,24px,#000);
						line-height: 1.3;
					}
				}
			}
		}

		.scroll {
			position: absolute;
			top: 140px;
			left: 50%;
			height: calc( 100% - 300px );
			margin-left: 525px;
			@include disable();

			img {
				position: sticky;
				top: 0;
			}
		}
	}

	&_count {
		overflow: hidden;
		background: #000 no-repeat 50% 50% / cover;
		background-image: 
			url('../../images/project/sec_count_bg1.png'),
			url('../../images/project/sec_count_bg2.png'),
			url('../../images/project/sec_count_bg3.png'),
			url('../../images/project/sec_count_bg4.png'),
			url('../../images/project/sec_count_bg5.png'),
			url('../../images/project/sec_count_bg6.png')
		;

		p {
			width: 100vw;
			height: 100vh;
			@include flex(center);
			flex-direction: column;
			@include font(300,64px,#fff,center);
			line-height: 1.375;

			b {
				margin-top: 19px;
				font-weight: 800;
				font-size: 148px;
				line-height: 1.08;
			}
		}
	}

	&_apply {
		position: relative;
		padding: 130px 0;
		background: #fff;

		.box {
			position: relative;
			width: 850px;
			margin: 57px auto 0 auto;

			button {
				@include flex(center);
				position: absolute;
				top: 427px;
				left: 50%;
				width: 560px;
				height: 100px;
				border-bottom: 8px solid #ff7d15;
				border-radius: 100px;
				background: #ff9642;
				margin-left: -280px;
				@include font(700,36px,#fff);
				transition: all 0.2s;

				img {
					width: 40px;
					margin-left: 14px;
				}

				&.on {
					border-color: #1FC3DF;
					 background-color: #42DBF5;
				}

				&::after {
					content: '';
					display: block;
					position: absolute;
					top: 54px;
					left: 323px;
					width: 108px;
					height: 74px;
					background: url('../../images/project/ico_hand.svg') no-repeat 0 0;
					animation: sjw_float 1.8s cubic-bezier(0.175, 0.885, 0.320, 1.275) infinite forwards;
				}
			}
		}

		.balloon-container {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			@include disable();

			.balloon {
				position: absolute;
				top: 65px;
				left: 50%;
				width: 329px;
				margin-left: 330px;
			}
		}
	}
}